* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*UTILITY*/

.mt-25 {
    margin-top: 25px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-90 {
    margin-bottom: 90px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-50 {
    margin-left: 50px;
}

.fz {
    font-size: 15px;
}

.xxl {
    font-size: xx-large;
}

.ml-90 {
    margin-left: 90px;
}

.ml-115 {
    margin-left: 115px;
}

.mt-40 {
    margin-top: 40px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

/*********/
.jumbotron {
    background-color: lightblue;
    padding: 2%;
}

.blue-buttons {
    color: white;
    background-color: dodgerblue;
    margin: -5px;
    padding: 8px;
}

.blue-button {
    color: white;
    background-color: dodgerblue;
    padding: 8px;
    width: 190px;
    text-decoration: none;

}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.header {

    position: sticky;
    top: 0;
    z-index: 5;
}

a:hover {
    cursor: pointer;
}

.column-1 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.column-2 {
    display: flex;
    gap: 30px;
    align-items: center;
}


/* BODY */

/*JUMBO*/

.container-jumbo {
    width: 80%;
    margin: 0 auto;
    height: 50%;
    display: flex;
}

.w-30 {
    height: 515px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 35px;
}

.w-70 {
    height: 500px;
    width: 70%;
}

.jumbo-img {
    max-width: 100%;
}

.jumbo-title {
    font-size: xxx-large;
    padding-bottom: 35px;
    text-align: start;
}

.fa-arrow-down {
    font-size: xx-large;
}

.fa-solid:hover {
    cursor: pointer;
}

/****************************/

/*SECTION 1*/

.section1 {
    padding: 10%;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;

}

.section-col-top {
    width: 100%;
    height: 150px;

}

.section-col-middle {
    width: calc(100% / 3);
    margin-bottom: 35px;
    border: 1px groove lightslategray;

}

.section-col-bottom {
    width: 100%;
    height: 165px;
    border: 1px groove lightslategray;
}

.middle-box {
    display: flex;
}

.top {
    margin-left: 40%;
}

.column-list {
    margin-top: 30px;
    margin-bottom: 40px;
    list-style: none;
}

.list-item {
    margin-top: 40px;
    margin-bottom: 10px;
}

.fatturazioni {
    display: flex;
}

/*SECTION 2*/


.section-2-container {
    width: 100%;
    margin: 0 auto;
    height: 800px;
    display: flex;
    gap: 30px;
}

.section2 {
    padding: 2%;
    margin: 0 auto;
}


.box-partner-img {
    width: 58%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.box-partner-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    margin: 0 auto;

}

.partner {
    border: 1px groove black;
    padding: 10px;
    margin-right: auto;
}

.partner-img {
    max-width: 100%;

}



























/*DEBUG*/



/*.w-70 {
.container-jumbo {
    background-color: purple;
}

    background-color: chartreuse;
    border: 1px dashed black;
}

.w-30 {
    background-color: red;
    border: 1px dashed black;
    
    
    .section-1-container {
        background-color: blueviolet;
    }
    
    .section-col-middle {
        background-color: chartreuse;
    }
    
    .section-col-middle {
        background-color: rgb(255, 0, 0);
        border: 1px dashed black;
    }
    
    .section-col-bottom {
        background-color: chartreuse;
    }
    
    .section-2-container {
        background-color: blueviolet;
    }
    
    .section2 {
        background-color: lightblue;
    }
    
    .box-partner-img {
        background-color: crimson;
        border: 1px dashed black;
    }
    
    
    .box-partner-txt {
        border: 1px dashed black;
        
        background-color: aqua;
        }*/